@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-star {
  background-image: radial-gradient(
      rgba(255, 0, 0, 0.484),
      rgba(0, 0, 0, 0.487)
    ),
    url("./assets/stars.webp");
}
@media (prefers-color-scheme: light) {
  .bg-star {
    background-image: radial-gradient(
        rgba(0, 204, 255, 0.5),
        rgba(210, 211, 212, 0.641)
      ),
      url("./assets/stars.webp");
  }
}

.main-title {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.red.950) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;

  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
